{% extends 'app/base.html' %}  
{% block contenido %}
<div class="container mt-5">
    <h1>Acme Chile - Cajas de Mercadería</h1>
    
    <h2>Quienes somos</h2>
    <p>Somos una empresa líder en la venta de cajas de mercadería para celebraciones, especializados en Navidad y Fiestas Patrias. Nuestra misión es proporcionar productos de alta calidad que se adapten a las necesidades de nuestros clientes y brindar una experiencia de compra excepcional.</p>

    <h2>Nuestro compromiso con los clientes</h2>
    <p>En Acme Chile, nos comprometemos a ofrecer productos de primera calidad que superen las expectativas de nuestros clientes. Trabajamos de cerca con proveedores confiables y seleccionamos cuidadosamente los productos que incluimos en nuestras cajas de mercadería. Además, nos esforzamos por brindar un excelente servicio al cliente, garantizando una comunicación clara, envíos rápidos y satisfacción total.</p>
  </div>

  <!-- Enlace a Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"></script>
{% endblock %}|